<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>App shell demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" crossorigin>
    <link rel="stylesheet" href="/<%= locals['app.css'] %>">
  </head>
  <body>
    <p>This is an app.</p>
    <script src="/<%= locals['app.js'] %>"></script>
  </body>
</html>
